[submodule "projects/solady"]
	path = projects/solady
	url = https://github.com/Vectorized/solady
[submodule "projects/forge-std"]
	path = projects/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "projects/solmate"]
	path = projects/solmate
	url = https://github.com/transmissions11/solmate
[submodule "projects/openzeppelin"]
	path = projects/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/aave-v3"]
	path = projects/aave-v3
	url = https://github.com/aave-dao/aave-v3-origin.git
[submodule "projects/uniswap-v4"]
	path = projects/uniswap-v4
	url = https://github.com/Uniswap/v4-core.git
[submodule "projects/era-contracts"]
	path = projects/era-contracts
	url = https://github.com/matter-labs/era-contracts
[submodule "projects/ERC721K"]
	path = projects/ERC721K
	url = https://github.com/kadenzipfel/ERC721K
[submodule "projects/maple-erc20"]
	path = projects/maple-erc20
	url = https://github.com/maple-labs/erc20
[submodule "projects/lil-web3"]
	path = projects/lil-web3
	url = https://github.com/m1guelpf/lil-web3
[submodule "projects/uniswap-v4-periphery"]
	path = projects/uniswap-v4-periphery
	url = https://github.com/Uniswap/v4-periphery
[submodule "projects/thirdweb"]
	path = projects/thirdweb
	url = https://github.com/thirdweb-dev/contracts
