[submodule "projects/solady"]
	path = projects/solady
	url = https://github.com/Vectorized/solady
[submodule "projects/forge-std"]
	path = projects/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "projects/solmate"]
	path = projects/solmate
	url = https://github.com/transmissions11/solmate
[submodule "projects/openzeppelin"]
	path = projects/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/aave-v3"]
	path = projects/aave-v3
	url = https://github.com/aave-dao/aave-v3-origin.git
[submodule "projects/uniswap-v4"]
	path = projects/uniswap-v4
	url = https://github.com/Uniswap/v4-core.git
[submodule "projects/era-contracts"]
	path = projects/era-contracts
	url = https://github.com/matter-labs/era-contracts
